<h1>Chat</h1>
<div>
  <input type='text' id='chat-input' placeholder='Mensaje' />
</div>
<div>
  <p id='messages-panel'></p>
</div>
<p id='message'></p>

<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/chat.js'></script>