<div>
  <form method='post' action='/views/realTimeProducts'>
    <label for='title'>Titulo:</label>
    <input type='text' id='title' name='title' placeholder='Titulo' required />
    <br /><br />
    <label for='description'>Descripción:</label>
    <textarea
      id='description'
      name='description'
      placeholder='Descripcion'
      required
    ></textarea>
    <br /><br />
    <label for='code'>Codigo:</label>
    <input type='text' id='code' name='code' placeholder='Codigo' required />
    <br /><br />
    <label for='price'>Precio:</label>
    <input
      type='number'
      id='price'
      name='price'
      placeholder='Precio'
      required
    />
    <br /><br />
    <label for='category'>Categoría:</label>
    <input
      type='text'
      id='category'
      name='category'
      placeholder='Categoria'
      required
    />
    <br /><br />
    <label for='stock'>Stock:</label>
    <input type='number' id='stock' name='stock' placeholder='Stock' required />
    <br /><br />
    <label for='thumbnail'>URL de la Imagen:</label>
    <input type='url' id='thumbnail' name='thumbnail' placeholder='Imagen' />
    <br /><br />
    <input id='add-product' type='submit' value='Enviar' />
  </form>

  <div>
    <h1>Lista de productos actualizada</h1>
  </div>

</div>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>