<div>
  <h1>Restaura la contraseña del usuario</h1>
  <form id='resetPasswordForm'>
    <label>Correo electronico</label>
    <input type='text' name='mail' />
    <label>Contraseña</label>
    <input type='password' name='password' />
    <input type='submit' />
  </form>
</div>

<script type='module' src='/js/resetPassword.js'></script>